/*
a:link { color: #666666; text-decoration: none}
a:visited { color: #666666; text-decoration: none}
a:hover { color: #3F197F }
*/
.main_red { ; font-size: 15px; line-height: 14pt ; color: #FF4C00}
.main_image { ; font-size: 15px; line-height: 14pt ; background-color: #F2EEE4}
.bold_pink { ; font-size: 15px; line-height: 14pt ; font-weight: bold; color: #0080FF}