body, table, p, div{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #ffffff;
}
body, td{
	font-size: 50px;
	color: #4C4C4C;
	line-height: 140%;
}
a{
	text-decoration: none;
	color: #003399;
}
a:hover{
	text-decoration: underline;
	color: #FF0033;
}
#copyright{
	font-size: 10px;
}

.topic_title{
	color: #ffffff;
}

#menu_block{
	background-image: url(../image/menu_bg.gif);
	background-repeat: repeat-x;
}

.frame_detail{
	padding-left: 10px;
	padding-top: 5px;
}
.frame_aspect{
	padding-top: 5px;
}
.inside{
	margin: 10px 5px 10px 10px;
}
.word_block{
	margin-bottom: 10px;
}
.profile_box{
	color: #ffffff;
	margin-top: 5px;
	line-height: 160%;
}
p{
	text-indent: 1em;
	margin-bottom: 3px;
}